@charset "UTF-8";

/*Mobile first*/

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #0F1F41;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458) ;
    
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background-color: #0A6073;
    background-image: url(../imagens/imagem.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;


}

section#login > div#formulario {
    display: block;
    background-color: white;
    line-height: 1.2em;
    padding: 10px;
    
}


section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p {
    font-size: 0.8em;
    
    
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;

    background-color: #0F1F41;
    border-radius: 5px;
    border: 2px solid #0F1F41;

}

div.campo > label {
    display: none;
    
}

div.campo > span {
    color: white;
    font-size: 2em;

    width: 40px;
    padding: 4px;
}

div.campo > input {
    background-color: #225561;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;

    background-color: #0A6073;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    cursor: pointer;
    background-color: #084c5c;
}


a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;

    background-color: white;
    color: #04232b;
    border: 1px solid #0A6073;
    border-radius: 5px;

    text-decoration: none;
}

.botao:hover {
    background-color: #108ba7;
}

a.botao > i {
    font-size: 0.8em;
}



